*{
margin: 6px;
padding: 6px;
box-sizing: border-box;
}
body{
height: 100vh;
background: url(img.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

h1{
font-size: 30px;
color: white;
text-align: center;
margin-bottom: 20px;
}
p{
font-size: 20px;
color: white;
margin-bottom: 30px;
margin-top: 25px;
}
a{
display: inline-block;
background: gray;
text-align: center;
color: blanchedalmond;
margin: center;
text-decoration: white;
padding: 30px;


}






